global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
        - targets: []
      scheme: http
      timeout: 10s
      api_version: v1
scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: opta-router-metrics
    metrics_path: /actuator/prometheus
    scrape_interval: 3s
    static_configs:
      - targets: [ 'app-gateway:8080', 'app-gateway:8081', 'app-gateway:8082' ]
        labels:
          application: 'Opta Router Metrics'