name: OptaRouter Master CI
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - 'master'

env:
  JAVA_VERSION: '21'
  JAVA_DISTRO: 'temurin'

jobs:
  gradle_master_build:
    name: Gradle Master Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0

      - uses: n1hility/cancel-previous-runs@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setting up Git
        run: git config user.email "${{ github.actor }}@users.noreply.github.com" && git config user.name "Github Actions"

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          cache: 'gradle'
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}

      - name: Running gradle task
        uses: gradle/actions/setup-gradle@v4

      - name: Running gradle task
        run: ./gradlew clean spotlessCheck sonar release -PenvironmentName=single -Prelease.useAutomaticVersion=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
